html{
    background-color: #aad4cf;
}
body{
    max-width: 1024px;
    margin: 0% auto;
    background: #cfe8e5;
    font-family: Arial, sans-serif;
    
}
.main_padding_all{
    padding: 10px;
}
h1{
    font-weight: lighter;
}
article h1, h2{
    margin-bottom: -5px;
    font-size: 30px;
 }
header{
    position: relative;  
}
header h1{
    position: absolute;
    color: white;
    font-size: 58px;
    text-align: center;
    width: 100%;
    top: 41% ;
    font-weight: lighter;
}
header ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    margin-top: -8px;
    margin-bottom: -10px;
}

.first_with_photo img{
       float: left;
       max-width: 230px;
       padding-right: 20px;
       padding-bottom: 20px;
}
.first_with_photo p{
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
}
.first_with_photo h1{
    padding-bottom: 5px;
}
ul {
    padding: 10px;
    margin: 10px;
}
.facts ul{
    font-weight: 600;
    padding: 10px;
    margin: 10px;
}
.header-story{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
header li{
    text-transform: uppercase;
    font-size: 23px;
    width: 1000px;
    height: 30px;
    display: flex;
    align-items: center; 
    justify-content: center;
}
footer{
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}
.checkbox h1{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.checkbox{
    padding: 10px;
}
.forms_header{
    margin-bottom: 15px;
}
.forms{
    border: 1.5px solid black;
    font-weight: 600;
}
.name{
    margin-top: 20px;
    padding: 10px;
}
.email{
    margin-top: 20px;
    padding: 10px;
}
.message{
    margin-top: 20px;
    padding: 10px;
}
.checkbox label{
     padding-bottom: 5px;
}
.name input {
    width: 99%;
    height: 25px;
    border: 1px solid rgb(209, 198, 198);
}
.email input{
    width: 99%;
    height: 25px;
    border: 1px solid rgb(209, 198, 198);
}
.message input{
    height: 80px;
    width: 99%;
    border: 1px solid rgb(209, 198, 198);
}
button{
    margin: 8px;
    background: none;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px;
}