/* Old styles */

.header{               
    text-align: center;
    margin-bottom: -20px;
    color: darkblue;       
    /* Here is class selector for heading color */
}
.header2{
    text-align: center;
    margin-top: 50px;
}
.navigation{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.left {
    width: 600px;
    padding: 10px;
    margin-left : 70px;
    margin-top: 70px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    line-height: 25px;
}
.right {
    width: 600px;
    padding: 10px;
    margin-left: 810px; ;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    line-height: 25px;
}
.quote{
margin-top: 70px;
text-align: center;
}
.cite{
margin-top: -10px ;
margin-bottom: 70px;
text-align: center;
}
.footer{
    margin-top: 100px;
    text-align: center;
}
.footer2 {
    text-align: center;
    margin-top: -15px;
}
.table{
    width: 800px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.table_text1{
    text-align: left;
    padding-left: 175px;
    font-size: 20px;
    line-height: 28px;
    background-size: 5px;
    
}
.table_text2{
    text-align: right;
    padding-right: 240px;
    font-size: 20px;
    line-height: 28px;
    background-size: 5px;
}
.table_notes{
    padding: 50px;
    width: 700px;
}

/* Hi Rob! I already had a lot of styles, so all new what I created will be below. Thanks! */

body{
    font-size: 18px;
}

header, footer{
    background-color: hsl(240, 100%, 96%);
}
#my_image{
    box-shadow: 0px 2px 1px black;   
}
#my_image_2{
    box-shadow: 0px 2px 1px black;
}

li:nth-child(odd) {
    background-color: hsl(240, 100%, 96%);

}
a:hover{
    background-color: lightgray;
}
a{
    background-color: hsl(240, 85%, 92%);
    border-style: dotted
}