html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset */



html{
    font-family: "Open Sans", sans-serif;  /* Font for whole page */
}


.nav_wrapper{
    background-color: #222 ;
    width: 100%;
}
.nav_content{
    padding-top: 15px;
    width: 97%;
    margin: auto;

}

.navigation{
    margin: auto;
    text-align: center;
}
.navigation a{
    color: #c78c06;
}

.navigation ul li:hover a {
    color: #000000;
}

.navigation a{
    text-decoration: none;
}
.navigation li{
    padding: 15px;
}
.navigation li:hover{
    background-color: #c78c06;
}
.navigation li:nth-child(1){
    padding-top: 140px;
    margin-top: -120px;
}
.search{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    justify-content: center;
}
.search input{
    height: 30px;
    display: inline-block;
    width: calc(93.5%);
    
}
.search button{
    height: 35px;
    margin-left: -4px;
    background-color: #222;
    border: 1px solid #c78c06;
    display: inline-block;
    width: calc(5.2%);

    
}
.search i{
    font-size: 16px;
    color: #c78c06;
}
.search input,
.search button {
    line-height: 25px;
}
.search i{
    padding-top: 3.5px;
}





































/* DESKTOP VERSION BELOW */

@media screen and (min-width: 760px){
    .nav_content{
        display: flex;
        width: 80%;
        margin: auto;
    }
    .logo{
        padding: 30px 50px;
    }
    .search form{
        display: flex;
        padding: 20px;
        
    }
    .navigation ul{
        white-space: nowrap;
        display: flex;
        padding: 20px;
        margin: auto;
    }
    .navigation li{
        margin: auto;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .navigation li:nth-child(1){
        margin-top: 0px;
        padding-top: 15px;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
     .search input{
        width: 100%;
        height: 28.7px;
     }
     .search button{
        width: 15% ;
        height: 34px;
     }
     
    }
