/* 
.nav_wrapper{
    background-color: rgb(89, 81, 81);
}
.nav_content{
    width: 500px;
    margin: auto;
}
.logo, .navigation, .search{
    background-color: aqua;
    margin: auto;
}
.about_us{
    background-color: bisque;
}
.about_wrapper{
    background-color: aqua;
    width: 1100px;
    margin: auto;
}
.vision_wrapper_bleeding{
    background-color: gray;
}
.vision{
    background-color: aqua;
    width: 1100px;
    margin: auto;
}
footer{
    background-color: rgb(183, 176, 176);
}
.footer_content{
    background-color: aqua;
    width: 1100px;
    margin: auto;
} */